  
body {
  background-color: #B5BEC6;
  padding: 3%;
}

p {
  font-family: monospace;
}

#text {
  position: absolute;
  left: 500px;
}
       
#foto { 
  width: 375px;
  float: left;
  padding: 10px;
  background-color: cornflowerblue;
  position: relative;
  border-radius: 10px;
}

#foto_container {
 height: 300px;
}

#nome {
  font-family: Cinzel;
  text-align: center;
}

#habilidades {

}

ul li:nth-child(odd){
  background-color: red;
  padding: 1%;
}
